# Data Science Tools and Ecosystem

## Introduction ##

In this notebook, data science tools and ecosystem  are summarized

## Objectives ##

This note book covers :
    Commonly used libraries
    Popular languages used by Data scientist
    Tools used in development environment
    Arethmetic expressions and evaluation

In [ ]:
# Some popular languages that data scientist used are:

1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Java
7. C++

In [ ]:
# some of the commonly used libraries used by data scientist include

1. Numpy
2. Pandas
3. Seaborn
4. metplotlib
5. scikitlearn
6. ggplot
7. caret
8. stringr
9. dplyr

In [ ]:
#Table of data science tool in model development environment

|Data science Tools|
|---------------|
|Seldon|
|Tensorflow|
|Python|
|Hadoop|
|RStudio|

### Below are a few examples of evaluating arethmentic expresssions in python

In [ ]:
1. First expression = (x+y)
2. Second expression = (x-y)
3. Third expression = (x/y)
4. Fourth expression = (x*y)

In [ ]:
 # This is a simple arethmetic expression to multiply and add integers

In [46]:
(3*4)+5

17

In [ ]:
# this will convert 200 minutes into hours by dividing by 60

In [71]:
hours = minutes // 60

In [72]:
minutes = 200

In [73]:
hours = 200 // 60

In [74]:
print(hours)

3

## Author

Joseph Khoza